html {
  scroll-behavior: smooth;
}

body {
  margin: 32px 6%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: "IBM Plex Sans", "IBM Plex Sans Thai Looped", sans-serif;
  line-height: 1.7;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.1px;
}

hr {
  border: none;
  border-top: 0.05rem solid #f1f3f5;
  height: 0.05rem;
  margin: 0.8rem 0;
}

mark {
  background: #ffe9b380;
  border-bottom: none;
}

p + ol,
p + ul {
  margin-top: -0.8rem; // -1.2 + 0.4
}

ol,
ul {
  margin: 0 0 0.8rem 1rem;
  list-style-position: outside;
}

a {
  cursor: pointer;

  &:visited {
    color: #5755d9;

    &:hover {
      color: #302ecd;
    }
  }
}

code,
kbd,
pre,
samp {
  font-family: "JetBrains Mono", "IBM Plex Sans Thai Looped Medium", monospace;
}

pre > code {
  background: initial;
  border-radius: initial;
  color: initial;
  font-size: 0.75rem;
  line-height: initial;
  padding: initial;
}

.divider > span {
  display: none;
}

@media (min-width: 841px) {
  .toc-sticky {
    position: sticky;
    top: 0.4rem;
  }
}

.menu .menu-item > a.indent::before {
  content: "— ";
}

.page-enter-active,
.page-leave-active {
  transition: all 0.5s;
}

.page-enter {
  opacity: 0;
  transform: translateY(10%);
}

.page-leave-to {
  opacity: 0;
  transform: translateX(-10%);
}
