@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab');

*,body {
  font-family: 'Open Sans', sans-serif;
}

.heading, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

body {
  background-image: url("../img/bg.png");
  background-position: 13% 0.5%;
  background-repeat: no-repeat;
}

#CMYK {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00aeef+0,00aeef+24,ec008c+25,ec008c+49,fff200+50,fff200+75,000000+76,000000+100 */
  background: rgb(0,174,239); /* Old browsers */
  background: -moz-linear-gradient(left, rgb(0,174,239) 0%, rgb(0,174,239) 24%, rgb(236,0,140) 25%, rgb(236,0,140) 49%, rgb(255,242,0) 50%, rgb(255,242,0) 75%, rgb(0,0,0) 76%, rgb(0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgb(0,174,239) 0%,rgb(0,174,239) 24%,rgb(236,0,140) 25%,rgb(236,0,140) 49%,rgb(255,242,0) 50%,rgb(255,242,0) 75%,rgb(0,0,0) 76%,rgb(0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgb(0,174,239) 0%,rgb(0,174,239) 24%,rgb(236,0,140) 25%,rgb(236,0,140) 49%,rgb(255,242,0) 50%,rgb(255,242,0) 75%,rgb(0,0,0) 76%,rgb(0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aeef', endColorstr='#000000',GradientType=1 ); /* IE6-9 */
  width: 16vh;
  height: 4vh;
  position: fixed;
  top: 0;
  right: 3.5vw;
  z-index: 9999;
  mix-blend-mode: color;
}

img:not(.no-cir) {
  border-radius: 50%;
}

img.no-cir {
  border-radius: 5px;
}

img {
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.05);
}

h1>small, h2>small, h3>small, h4>small, h5>small, h6>small {
  color: #777;
}

.button-up {
  position:fixed;
  right:5vw;
  bottom:5vh;
  padding: 0 1.2rem;
  margin-bottom:0;
}

@media (max-width: 550px) {
  .button.button-primary.button-up {
    width: 100%;
    right: 0;
    bottom: 0;
    border: 0px;
    border-radius: 0;
    background-color: rgba(0,0,0,0.75);
  }
}

@keyframes blinky {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.blink {
  animation: blinky 0.9s linear;
  animation-iteration-count: infinite;
}

.bar {
  position: relative;
  left:32px;
  margin: 2px 4px;
  padding: 0;
  width: calc(100% - 64px);
  box-sizing: border-box;
  background-color: #fff200;
  display: inline-block;
  border-radius: 8px 4px;
  height: 16px;
}

.bar>div {
  transform-origin: bottom left;
  box-sizing: border-box;
  background-color: #ef5ba1;
  mix-blend-mode: multiply;
  position: relative;
  bottom: -4px;
  left: -4px;
  border-radius: 4px 8px 8px 4px;
  height: 16px;
}

.bar>div>span {
  color: #222;
  position: relative;
  left: calc(100% + 0.5ch);
  top: -1ch;
  font-size: 1.1em;
  font-weight: bold;
}

.skillContent>p>span{
  font-weight: bold;
}

@keyframes bobble {
  0%{
    transform: scaleX(1);
    animation-timing-function: ease-in;
  }
  16.67%{
    transform: scaleX(1.01);
    animation-timing-function: ease-out;
  }
  33.33%{
    transform: scaleX(1);
    animation-timing-function: ease-in;
  }
}