@import 'spectre';

html {
	scroll-behavior: smooth;
}

body {
	margin: 32px 6%;
	@media (max-width: 480px) {
		margin-bottom: 48px;
	}
	min-height: 100vh;
	font-family: 'IBM Plex Sans', 'IBM Plex Sans Thai Looped', sans-serif;
	line-height: 1.7;
	letter-spacing: 0.3px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@supports (-webkit-touch-callout: none) {
	body {
		min-height: -webkit-fill-available;
	}
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
	font-weight: 700;
	text-rendering: optimizeLegibility;
	letter-spacing: 0.1px;
}

hr {
	border: none;
	border-top: 0.05rem solid #f1f3f5;
	height: 0.05rem;
	margin: 0.8rem 0;
}

// .blockquote {
// 	border-left: $border-width-lg solid $border-color;
// 	margin-left: 0;
// 	padding: $unit-2 $unit-4;
// }

mark {
	border-bottom: none;
}

p + ol,
p + ul {
	margin-top: -0.8rem; // -1.2 + 0.4
}

li > p {
	margin: 0;
}

ol,
ul {
	margin: 0 0 0.8rem 1rem;
	list-style-position: outside;
}

li {
	> ol,
	> ul {
		margin: 0 0 0 0.8rem;
	}
}

a {
	cursor: pointer;

	&:visited {
		color: $link-color;

		&:focus,
		&:hover,
		&:active {
			color: $link-color-dark;
			text-decoration: underline;
		}
	}
}

code,
kbd,
pre,
samp {
	font-family: 'JetBrains Mono', 'IBM Plex Sans Thai Looped Medium', monospace;
}

pre > code {
	background: initial;
	border-radius: initial;
	color: initial;
	font-size: 0.75rem;
	line-height: initial;
	padding: initial;
}

.label {
	margin-left: 0.5ch;
}

@media (min-width: 841px) {
	.toc-sticky {
		position: sticky;
		top: 0.4rem;
	}
}

.menu .menu-item > a.indent::before {
	content: '— ';
}

// .page-enter-active,
// .page-leave-active {
// 	transition: all 0.5s;
// }

// .page-enter {
// 	opacity: 0;
// 	transform: translateY(10%);
// }

// .page-leave-to {
// 	opacity: 0;
// 	transform: translateX(-10%);
// }

@media print {
	.no-print,
	.no-print *,
	details:not([open]) {
		display: none !important;
	}

	html {
		font-size: 16px;
	}
}

.no-br {
	white-space: nowrap;
}

.small {
	font-size: 0.9em;
}

table.table-job > tbody > tr > td:first-of-type {
	vertical-align: top;
	padding-right: 1ch;
	white-space: nowrap;
}

@media (max-width: 480px) {
	table.table-job > tbody > tr {
		display: flex;
		flex-direction: column;

		> td:first-of-type::after {
			content: ':';
		}

		> td:nth-of-type(2) {
			border-left: 0.1rem solid #dadee4;
			margin-left: 0;
			padding: 0 0.5rem;
			margin-left: 0.3rem;
		}
	}

	.hide-xs {
		display: none;
	}
}

.achievement-container {
	margin-bottom: $unit-5;

	.ach-content {
		margin-bottom: $unit-3;
	}

	.ach-image-container {
		display: flex;
		align-items: center;

		> picture > img {
			@media (max-width: $size-xs) {
				margin-top: $unit-3;
			}
		}
	}
}

.emoji {
	font-family: 'Segoe UI Emoji', emoji;
	font-weight: 400;
}
