// Class locations: ./pages, ./content, ./layouts

// Color customization
@import 'variables';

// Variables and mixins
@import 'spectre.css/src/_variables';
@import 'spectre.css/src/_mixins';

/*! Spectre.css v#{$version} | MIT License | github.com/picturepan2/spectre */
// Reset and dependencies
@import 'spectre.css/src/_normalize';
@import 'spectre.css/src/_base';

// Elements
@import 'spectre.css/src/_typography';
// @import "spectre.css/src/_asian";
// @import "spectre.css/src/_tables";
// @import "spectre.css/src/_buttons";
@import 'spectre.css/src/_forms';
// @import 'spectre.css/src/_labels';
// @import "spectre.css/src/_codes";
// @import "spectre.css/src/_media";

// Layout
@import 'spectre.css/src/_layout';
// @import "spectre.css/src/_hero";
// @import "spectre.css/src/_navbar";

// Components
// @import "spectre.css/src/_accordions";
// @import "spectre.css/src/_avatars";
// @import "spectre.css/src/_badges";
// @import "spectre.css/src/_breadcrumbs";
// @import "spectre.css/src/_bars";
@import 'spectre.css/src/_cards';
// @import "spectre.css/src/_chips";
// @import "spectre.css/src/_dropdowns";
// @import "spectre.css/src/_empty";
@import 'spectre.css/src/_menus';
// @import "spectre.css/src/_modals";
// @import "spectre.css/src/_navs";
// @import "spectre.css/src/_pagination";
// @import "spectre.css/src/_panels";
// @import "spectre.css/src/_popovers";
// @import "spectre.css/src/_steps";
// @import "spectre.css/src/_tabs";
// @import "spectre.css/src/_tiles";
// @import "spectre.css/src/_toasts";
// @import "spectre.css/src/_tooltips";

// Utility classes
// @import "spectre.css/src/_animations";
// @import "spectre.css/src/_utilities";
// @import "spectre.css/src/utilities/colors";
@include text-color-variant('.text-dark', $body-font-color);
// @import "spectre.css/src/utilities/cursors";
.c-hand {
	cursor: pointer;
}
// @import "spectre.css/src/utilities/display";
.d-flex {
	display: flex;
}
@import 'spectre.css/src/utilities/divider';
// @import "spectre.css/src/utilities/loading";
// @import "spectre.css/src/utilities/position";
@include padding-variant(1, $unit-1);
@include margin-variant(2, $unit-2);
// @import "spectre.css/src/utilities/shapes";
.s-circle {
	border-radius: 50%;
}
// @import "spectre.css/src/utilities/text";
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
